---
// import '../styles/global.css'
import Counter from '../components/Counter.vue'
// import BaseHead from '../components/h5pb/BaseHead.astro'
import BaseHead from '../components/h5pb/BaseHead.vue'

const { content } = Astro.props
const MODERNIZR_VERSION = '3.12.0'
---
<!doctype html>
<html class="no-js" lang={content.lang || 'en'}>

<head>
    <BaseHead title="h5pb" description="???" />
</head>

<body>
<slot />
<Counter client:visible>
</Counter>
<script src={`js/vendor/modernizr-${MODERNIZR_VERSION}.min.js`}></script>
<!--<script src="js/app.js"></script>-->
</body>

</html>
